.split-container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: calc(100vh - 100px); /* Adjust height */
  margin: 50px 0;
  @media (max-width: 375px) {
    flex-direction: column;
    height: auto; /* Allow height to adjust based on content */
  }
}

.left-side {
  background-color: #0d47a1; /* Primary Color */
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* Optional: adjust width on smaller screens */
  @media (max-width: 768px) {
    width: 100%;
  }
}

.right-side {
  background-color: #e3f2fd; /* Secondary Color */
  width: 40%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 20px;
  /* Optional: adjust width on smaller screens */
  @media (max-width: 768px) {
    width: 100%;
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

.profile-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed container width */
}
